{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/content.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/page.css' %}">
    <script src="{% static 'js/theme.js' %}"></script>
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body id="body" class="dark">
    <nav id="navbar" class="navbar dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <img id="logo" class="icon" src="{% static 'img/placeholder.png' %}">
        </li>

        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">
            <img src="{% static 'img/home_black.png' %}" alt="Home link icon">
            <span class="link-text">Home</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'search' %}" class="nav-link">
            <img src="{% static 'img/search_black.png' %}" alt="Search link icon">
            <span class="link-text">Search</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="/notifications" class="nav-link">
            <img src="{% static 'img/bell_black.png' %}" alt="Notifications link icon">
            <span class="link-text">Notifications</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="/dms" class="nav-link">
            <img src="{% static 'img/message_black.png' %}" alt="Messages link icon">
            <span class="link-text">Messages</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'profile' request.user.id %}" class="nav-link">
            <img src="{% static 'img/user_black.png' %}" alt="Profile link icon"> 
            <span class="link-text">Profile</span>
          </a>
        </li>

        <li class="nav-item theme-selectors">
          <input type="image" id="moon" class="theme" src="{% static 'img/moon.png' %}" onclick="changetheme(this)"/>
          <input type="image" id="sun" class="theme active" src="{% static 'img/sun.png' %}" onclick="changetheme(this)"/>
        </li>
      </ul>
      
      
    </nav>
{% block content %}
    <main class="content">
        
      
    </main>{% endblock content %}
<script>
      document.querySelectorAll(".accordion_button").forEach(button => {
        button.addEventListener('click', () => {
          const accordionContent = button.nextElementSibling; // the "replies" div

          button.classList.toggle('active');

          if(button.classList.contains('active'))
            accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
          else
            accordionContent.style.maxHeight = 0;

        });
      });

      document.querySelectorAll(".social_button").forEach(button => {
        button.addEventListener('click', () => {
          button.classList.toggle('active');

          /*if(button.classList.contains('like')){
            let likesElem = button.nextElementSibling;
            let likes = parseInt(likesElem.textContent) + (button.classList.contains("active")?+1:-1);

            let dislikeButton = button.nextElementSibling.nextElementSibling;
            if(dislikeButton.classList.contains("active")){
              likes += 1;
              dislikeButton.classList.remove('active');
            }

            likesElem.textContent = '+' + likes;
            
          }else if(button.classList.contains('dislike')){
            let likesElem = button.previousElementSibling;
            let likes = parseInt(likesElem.textContent) + (button.classList.contains("active")?-1:+1);

            let likeButton = button.previousElementSibling.previousElementSibling;
            if(likeButton.classList.contains("active")){
              likes -= 1;
              likeButton.classList.remove('active');
            }
            
            likesElem.textContent = '+' + likes;
          }*/
        });
      });
    </script>
        <script>
  $(document).on('click', '#like-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "add-like" %}',
      data: {
        postid: $('#like-button').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("like_count").innerHTML = json['result']
        console.log(json)
      },
      error: function (xhr, errmsg, err) {

      }
    });
  })
</script>
     <script>
  $(document).on('click', '#dislike-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "add-dislike" %}',
      data: {
        postid: $('#dislike-button').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("like_count").innerHTML = json['result']
        console.log(json)
      },
      error: function (xhr, errmsg, err) {

      }
    });
  })
</script>
  </body>
</html>