{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class='posts-div'><br/>
       <img class='rounded-circle article-img' src="{{ post.author.profile.image.url }}">
       <div class='media-body'>
       <div class='article-metadata'>
      <p>By {{ post.author }} On {{ post.date_posted }}</p>
      {% if post.author == user %}
        <a href="{% url 'post-update' post.id %}" class='btn btn-outline-info mb-1'>Edit</a>
        <a href="{% url 'post-delete' post.id %}" class='btn btn-outline-danger mb-1'>Delete</a>
      {% endif %}
        </div>
        <div class='article-content detailed'>
        <p class='media'>{{ post.content }}</p>
    </div>
        <form method="POST" action="{% url 'add-like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class='btn btn-outline-info'><i class="fas fa-kiss-wink-heart"></i></button>{{ post.likes.all.count }}
                        </form>
                        <form method="POST" action="{% url 'add-dislike' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class='btn btn-outline-info' type="submit"><i class="fas fa-heart-broken"></i></button>{{ post.dislikes.all.count }}
                        </form>
  </div>
</div>
    <div>
      <div class="card mb-4  mt-3 ">
      <div class="card-body" id="comments-collection">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments.all %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class=" text-muted font-weight-normal">
              {{ comment.date_created }}
            </span>
            {% if comment.author == user %}
        <a href="{% url 'comment-delete' post.id comment.id %}" class='btn btn-outline-danger mb-1'>Delete</a>
      {% endif %}
          </p>
          {{ comment.content | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
      <div class="card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is Live
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form| crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div> 
    </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
    console.log("Create comment");
    let commentsCollection = $("#comments-collection");
    let comments = '<div class="comments" style="padding: 10px;">' + 
          '<p class="font-weight-bold">' +
            4 +
            '<span class=" text-muted font-weight-normal">' + 
              5 +
            '</span>'
          '</p>' + 
          3 +
        '</div>'

    console.log(comments)

      console.log($.ajax())
      $('form').on('submit', function(event){
        event.preventDefault();
        // alert("submitting form")
        submitForm();
        function submitForm(){
          const postId = Number(window.location.pathname.split("/")[2]);
          console.log("POST ID", postId);
          $.ajax({
            url: `/post/${postId}/`,
            method: "POST",
            data: $("form").serialize()
          }).done(function(response){
            let author ="Author: You";
            let date_created = response.date_created;
            let content = response.comment;
            
            console.log("response", response);
            // attach comment to the DOM
            let commentCard = '<div class="comments" style="padding: 10px; >' +
              '<p class="font-weight-bold">'
                + author +
                '<span class=" text-muted font-weight-normal">' + 
                  date_created +
                '</span>' +
              '</p>'
              + content + 
              '</div>'
            commentsCollection.append(commentCard);
            document.querySelector("textarea").value = "";
          });
        }
      });
    </script>
{% endblock %}