{% extends 'posts/base.html' %}
{% block title %}@{{ user.username }} Profile, On Privalise{% endblock title %}
{% block content %}
<main class="w-50 mx-auto">
			<section class="profile">
				<div class="picture-container">
					<img class="profile-picture" src="{{ user.profile.image.url }}">
				</div>

				<h2 class="account-heading">@{{ user.username }}</h2>
				{% if user.profile.verified %}
				  <i style='color: blue; width: 100;' class="fas fa-passport"></i>
		    	{% endif %}
		       <br/><br/>
				{% if request.user.id == user.id %}
              <button type="button" class="btn btn-outline-info">
              	<a href='{% url "profile-update" %}'>Update Info</a>
              </button>
             <button type="button">  <a href="{% url 'password-change' %}" class='btn btn-outline-info'>Change Password !</a>
             </button>
              <br/><br/>
            {% else %}
              {% if is_following == False %}
                 <form method="POST">
                    {% csrf_token %}
                    <button type="submit" id="follow-button" 
                    value="{{ user.id }}" class="btn btn-outline-danger">Follow
			            </button>
			         </form>
			         <br/><br/>
             
            {% else %}
                  <form method="POST" action='{% url "remove-follower" profile.id %}'>
                   {% csrf_token %}
            
                   <button type="submit" class="btn btn-outline-danger">UnFollow</button>
                  </form><br/><br/>
 

             {% endif %}
            {% endif %}
			</section>

			<section class="posts">
				{% for post in posts %}
				<div class="post">
					<div class="profile-container">
						<img class="profile" src="{{ post.author.profile.image.url }}">
					</div>

					<div class="post-content">
						<div class="post-info">
							<div class="post-info1">
								<a class="username" href="{% url 'profile' post.author.id %}">@{{ post.author }}</a>
								<p class="date">{{ post.date_posted }}</p>
							</div>
      				</div>

						<a href="{% url 'post-detail' post.pk %}"><div class="post-text tags-id">
							<p>{{ post.content }}</p>
						</div></a>
					</div>
				</div>
				{% endfor %}
			</section></main>
{% endblock content %}