{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
    <div class='profile'>

        <img class='profile-image' id="imgbox"  src="{{ user.profile.image.url }}"><br>
        <h2 class='account-heading'>{{ user.username }}</h2>
        <h2 class='text-secondary'>{{ profile.name }}</h2>
        <h2 class='text-secondary'>{{ user.email }}</h2>
        <p>{{ profile.bio }}</p>
        
    </div>
 <form method="POST" enctype='multipart/form-data' id='forms'>
        {% csrf_token %}
        <filedset class='form-group settings'>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        <br/>
        <button type="submit" class="btn btn-outline-info">Update Info</button>
        </fieldset>
   </form>
   <a href="{% url 'password-change' %}" class='btn btn-outline-info'>Change Password !</a>
{% endblock content %} 