{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Change Your Password {% endblock %}
{% block top %}
.login{
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}
{% endblock %}
{% block content %}

    <h1>Change Your Password</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br/>
        <button type="submit" class="btn btn-outline-info">Submit</button>
   </form>
{% endblock %} 